<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>A Web Page</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
</head>
<body>
    <div class="container">
        <nav>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </nav>
        <header>
            <h1>About Me</h1>
        </header>
        <main>
            <section>
                <img src="~/img/Dog.svg" alt="Dog image">
                <p>Babathy Jones</p>
                <p>I love to code</p>
            </section>
            <aside>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Rem odio porro eum exercitationem a magni illum ad architecto
                        minima, veritatis sit quas iste, facere unde distinctio pariatur!
                        Autem, neque a?
                    </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Rem odio porro eum exercitationem a magni illum ad architecto
                    minima, veritatis sit quas iste, facere unde distinctio pariatur!
                    Autem, neque a?
                </p>
            </aside>
        </main>

    </div>
</body>
</html>
